<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ChromaCheatsEmulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <ChromaCheatsEmulator.Properties.Settings>
            <setting name="key" serializeAs="String">
                <value>XvKPGDg58NThZqkxvRezPCgp7uteUJ7T</value>
            </setting>
            <setting name="iv" serializeAs="String">
                <value>ExhefwVupUfpaQeOeVC0OyISWp7VALwn</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>http://chromacheats.com/chromaauth/auth.php</value>
            </setting>
            <setting name="first" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="url_key" serializeAs="String">
                <value>https://api.cc.aqbt.pw/aes/key</value>
            </setting>
            <setting name="url_iv" serializeAs="String">
                <value>https://api.cc.aqbt.pw/aes/iv</value>
            </setting>
            <setting name="url_url" serializeAs="String">
                <value>https://api.cc.aqbt.pw/api/url</value>
            </setting>
        </ChromaCheatsEmulator.Properties.Settings>
    </userSettings>
</configuration>
