<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ChromaCheatsEmulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <ChromaCheatsEmulator.Properties.Settings>
            <setting name="key" serializeAs="String">
                <value>BlcZ496fTZFH42KefU1GsoDOFipI1dQz</value>
            </setting>
            <setting name="iv" serializeAs="String">
                <value>GnzlGN3UlwtjEc19vdrNgd42PGLkxytx</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>https://chromacheats.com/auth/auth.php</value>
            </setting>
            <setting name="first" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="url_key" serializeAs="String">
                <value>https://cc.aqbt.pw/aes/key</value>
            </setting>
            <setting name="url_iv" serializeAs="String">
                <value>https://cc.aqbt.pw/aes/iv</value>
            </setting>
            <setting name="url_url" serializeAs="String">
                <value>https://cc.aqbt.pw/api/url</value>
            </setting>
            <setting name="key_base64" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autosend" serializeAs="String">
                <value>False</value>
            </setting>
        </ChromaCheatsEmulator.Properties.Settings>
    </userSettings>
</configuration>
